.searchHome{
    background-image:url(../../img/SearchHome.jpg);
    background-size:100% ;
    height: 100vh;
}

.searchInput{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}