

.afternoonBooked{
    border-radius: 50%;
    background: linear-gradient(135deg, transparent 50%, rgb(223, 90, 13) 50%);
    color: black;
}

.morningBooked{
    border-radius: 50%;
    background: linear-gradient(135deg, rgb(223, 90, 13) 50%, transparent 50%);
    color: black;
}

.fullDayBooked{
    border-radius: 50%;
    background-color: rgb(223, 90, 13);
    color: black;
}

