.Wishlist {
  margin: auto;
  width: 60%;
  &-title{
    font-size: 1.2rem;
    margin: 0.5rem;
    text-align: center;
}

&-detail {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 2rem;

  .Card {
    width: 30%;
  }
}
}