.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.modal-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.modal-text {
    text-align: center;
}

em {
    color:red;
}