.search-buttons {
    display: inline;
}

.search-title {
    display: none;
    margin-top: 4rem;
}

.search-form {
    text-align: center;
}

.css-1nrlq1o-MuiFormControl-root {
    display: flex;
    flex-direction: row !important;
    align-items: center;
    justify-content: space-around;
}

/* Tablettes */
@media (min-width: 750px) { 
    .result-container {
        display: flex;
        flex-direction: row-reverse;
    }

    .search-title {
        display: inline;
    }

    .search-form {
        padding-bottom: 0.5rem;
    }
}

    
