.formDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 4em 0;
    img {
        height: 400px;
        object-fit: contain;
        width: auto;
    }
    h1 {
        font-size: 3em;
        font-weight: 700;
        margin-bottom: 1em;
        text-align: center;
    }
}
.formContactUs{
    width: 50vh;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.formNameFirstName{
    display: flex;
    justify-content: space-between;
    width: 90%;
}
.formMidWitdh{
    gap: 1em;
    width: 49%;
    .textfield{
        width: 100%;
    }
}
.formMailMessage{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.formFullWitdh{
    width: 90%;
    .textfield{
        margin-top: 1em;
        width: 100%;
    }
}

@media screen and (max-width: 750px)
{
    .formDiv{
        
        img {
            height: 250px;            
        }
        h1 {
            font-size: 2em;
            font-weight: 700;
            margin-bottom: 1em;
            text-align: center;
        }
    }
}