@use '../../styles/vars';
@use 'sass:color';

.Footer{
    margin-top: 1rem;
    
    &-Paper{
        height: 40px;
        display: flex;
        align-items: center;
        justify-content:space-between;
        text-align: center;   
        
        &-Typography{
            line-height: 0.5rem;
        }
        &-BottomNavigation{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            
            &-Typography{                
                line-height: 0.5rem;
            }
        }
    }
    &-links{
        font-size: 0.85rem;
        padding-right: 0.3rem;
    }
}

@media only screen and (min-width: 550px) {
    .Footer{
        &-Paper{
            height: 30px;
        }
        
    }    
}