@use '../../styles/vars';
@use 'sass:color';

.Nav{
    position: relative;
    z-index: 3;
    height: 100%;
    
    &-leftNavBar{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .imgLogo{
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
}


