@use '../../styles/vars';
@use 'sass:color';

.Nav{
    position: relative;
    z-index: 3;
    height: 100%;
    
    &-leftNavBar{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}


@media screen and (max-width: 520px)
{
    .imgLogo{
        width: 40%;
        height: auto;
        object-fit: contain;
    }
}
@media screen and (max-width: 420px)
{
    .imgLogo{
        width: 25%;
        height: auto;
        object-fit: contain;
    }
}