.search-container{

  .leaflet-container {
      height: 15rem;
      width: 100%;
      margin: 0.5rem 0 ;
      border-radius: .7rem;
      z-index: 0;
  }
  
    .leaflet-popup-content p {
      margin: 5px 0;
  }
  
  .popup {
  
    &-flex {
      display: flex;
      justify-content: space-between;
    }
  
    &-price {
      margin-top: 0;
      padding: 0.5rem;
    }
  }
  
  /* Tablettes */
  @media (min-width: 750px) { 
      .leaflet-container  {
          top: 0;
          bottom: 0;
          width: 100%;
          height: auto;
        }
      }
}


